body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(239, 249, 255);
}

.app-container { /*as divs*/
  text-align: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 15px;
}

h2 { /*texto degradê*/
  background: linear-gradient(to right, #ff56ff, #4ab4ff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

h3{
  text-align: top;
  color: #535353;
}

p {
  color: #434343;
  text-align: center;
  font-size: 1.2em;
  margin: 10px 0;
}

nav a { /*deixa a estetica bonita no texto dentro da barra de navegacao com as rotas*/
  text-decoration: none;
  color: #c13df9;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover { /*fica com fundo quando o mouse passa*/
  background: #f8dbfc;
}

button { /*botao coloridinho e com os ajustes para ficar certinho na pagina web*/
  background: linear-gradient(to right, #ff56ff, #4ab4ff); /*degrade no botão*/
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 12px;
  margin-right: 10px;

}

ul { /*deixando a lista sem topicos e no espaco certo*/
  list-style: none;
  padding: 0;
  color: #434343;
  margin: 20px 0;
}

li { /*estilizando as caixinhas de texto para cada usuario*/
  background:white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ff56ff;
}
